version: "3.9"

services:
  backend:
    image: ghcr.io/emadb/lorx:$VERSION
    platform: linux/arm64
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@lorx-db/lorx_dev
      - SECRET_KEY_BAS=xhSxmI3mCFHOfGwkc483qhI1dkXSrw3yh6XniKW88HmcoDSAUcYaW7gObmfz8Occ
      - ENV_NAME=$ENV_NAME
    networks:
      - common

networks:
  common:
    external: true
