version: "3.9"

services:
  backend:
    image: ghcr.io/emadb/lorx:$VERSION
    ports:
      - "80:4000"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgresql/lorx_dev
      - SECRET_KEY_BASE=xhSxmI3mCFHOfGwkc483qhI1dkXSrw3yh6XniKW88HmcoDSAUcYaW7gObmfz8Occ
      - ENV_NAME=$ENV_NAME
      - DEVICE_POLLING_INTERVAL=300000
      - SAVING_INTERVAL=900000
    networks:
      - common

networks:
  common:
    external: true
