<div class="grid grid-flow-row gap-4">
  <.live_component
    :for={d <- @devices}
    module={LorxWeb.DeviceComponent}
    id={d.id}
    name={d.name}
    status={d.status}
    temp={d.temp}
    target_temp={d.target_temp}
    mode={d.mode}
  />
</div>
