@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.widget {
  text-align: left;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: #fff;
}
.widget .studio {
  font-size: 1.2rem;
  font-weight: bold;
}

.widget .status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00c400;
  border-radius: 50%;
  margin-left: 5px;
}
.widget .heating {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: #00c400;
}

.widget .idle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: #b8b8b8;
}
.widget .temperature {
  font-size: 4rem;
  font-weight: bold;
  margin: 5px 0;
}
.widget .setpoint {
  font-size: 1rem;
  color: #888;
}
